body {
    font-family: "Poppins", sans-serif;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 300;
}
.he p {
    padding-top: 3rem;
    font-size: 19px;
    font-weight: 500;
}
.header {
    background-color: #212529;
    height: 3rem;
    width: 100%;
    color: white;
}
.head {
    margin-right: 42rem;
    padding-top: 0.8rem;
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
}

.header1 {
    padding-top: 0.8rem;
    font-size: 12px;
    font-weight: 100;
    margin-left: -1rem;
    text-transform: uppercase;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: black;

    font-size: 20px;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: #bb0e0e1c;
    border: 0;
}
.header-social {
    padding-top: 0.8rem;
    margin-left: 6rem;
    color: white;
}
.fb1 {
    color: white;
    margin-right: 1rem;
}
.navbar-brand {
    color: black;
}
.m {
    margin-right: 0rem;
}
.navbar-brand {
    margin-left: -1rem;
}
.nav-link {
    margin-right: 1.5rem;
    font-size: 20px;
    color: black;
}
.view {
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    width: 100%;
    background-image: url("https://image.freepik.com/free-photo/young-bussiness-man-working-office_272645-112.jpg");
}

.he h1 {
    font-size: 64px;
    font-weight: 800;
    padding-top: 12rem;
}
.he h6 {
    padding-top: 2rem;
}
.btn-change8 {
    height: 55px;
    width: 12rem;
    background: #ff2143;

    float: left;
    border: 0px;

    color: #fff;
    box-shadow: 0 0 1px #ccc;
    animation-duration: 3s;
    animation-timing-function: linear;
    box-shadow: 0px 0 0 #31708f inset;
}
.btn-change8:hover {
    box-shadow: 100px 0 0 #31708f inset;
}

.buttom {
    padding-top: 3rem;
}
.serv1 span {
    text-transform: uppercase;
    color: white;
    display: inline-block;
    position: relative;
    margin-top: 8rem;
}

.serv1 h2 {
    font-size: 50px;
    display: block;
    color: white;
    font-weight: 900;
    margin-top: 1.5rem;
}
.serv3 span {
    text-transform: uppercase;
    color: black;
    display: inline-block;
    position: relative;
    margin-top: 6rem;
}

.serv3 h2 {
    font-size: 50px;
    display: block;
    color: black;
    font-weight: 900;
    margin-top: 1.5rem;
}
.get {
    margin-top: 4rem;
}
.pg {
    font-size: 83px;
    padding: 1rem;
}
.page {
    border: 1px solid black;

    background-color: white;
}
.acp {
    width: 100%;
}
.service {
    background-color: #f7f7f7;
    height: 38rem;
}
.kd1 {
    width: 100%;
    height: 46rem;
}
.put {
    background-color: #f7f7f7;
    width: 100%;
    height: 60rem;
    margin-top: 3rem;
}
.pe {
    margin-top: -41rem;
}
.serv1 {
    margin-top: -49rem;
    margin-left: 5rem;
}
.elina {
    padding-top: 2.5rem;
    color: white;
}
.btn-change7 {
    height: 55px;
    width: 12rem;
    background: #ff2143;
    margin-top: 2rem;
    float: left;
    border: 0px;
    color: #fff;
    box-shadow: 0 0 1px pink;
    animation-duration: 3s;
    animation-timing-function: linear;
    box-shadow: 0px 0 0 #31708f inset;
}
.btn-change7:hover {
    box-shadow: 100px 0 0 #31708f inset;
}
.feature1 span {
    text-transform: uppercase;
    color: black;
    display: inline-block;
    position: relative;
    margin-top: 8rem;
}

.feature1 h2 {
    font-size: 50px;
    display: block;
    color: black;
    font-weight: 900;
    margin-top: 1.5rem;
}
.peace {
    background-color: #f7f7f7;
}
.serv4 span {
    text-transform: uppercase;
    color: black;
    display: inline-block;
    position: relative;
    margin-top: 2rem;
}
.serv5 span {
    text-transform: uppercase;
    color: black;
    display: inline-block;
    position: relative;
    margin-top: 2rem;
}
.team span {
    text-transform: uppercase;
    color: black;
    display: inline-block;
    position: relative;
    margin-top: 7rem;
}
.tea span {
    text-transform: uppercase;
    color: black;
    display: inline-block;
    position: relative;
    margin-top: 7rem;
}
.tea h2 {
    font-size: 50px;
    display: block;
    color: black;
    font-weight: 900;
    margin-top: 1.5rem;
}
.btn-change2 {
    height: 55px;
    width: 12rem;
    background: black;
    margin-top: -10rem;
    float: left;
    border: 0px;

    color: #fff;
    box-shadow: 0 0 1px #ccc;
    box-shadow: 0px 0 0 #31708f inset;
}
.btn-change2:hover {
    box-shadow: 100px 0 0 #31708f inset;
}
.team h2 {
    font-size: 50px;
    display: block;
    color: black;
    font-weight: 900;
    margin-top: 1.5rem;
}
.idcard {
    margin-top: 1rem;
}
.nine h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: -12rem;
}
.each1 {
    margin-top: 0rem;
    background-color: #f7f7f7;
}

.num {
    margin-top: 3rem;
}
.each3 {
    background-color: #f7f7f7;
    height: 70rem;
}
.our {
    margin-top: 3rem;
}
.five {
    margin-top: 3rem;
}

.serv5 {
    border: 1px solid white;

    background-color: white;
    position: absolute;
    margin-top: -3rem;

    padding: 1rem;
}
.serv4 {
    border: 1px solid white;

    background-color: white;
    position: absolute;
    margin-top: -3rem;

    padding: 1rem;
}
.team8 {
    height: 42rem;

    border: 1px solid white;
    color: black;
    background-color: white;
}
.team9 {
    height: 42rem;

    border: 1px solid white;
    color: black;
    background-color: white;
}

.seven h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    color: black;
}

.best {
    color: #ff2143;
    text-transform: capitalize;
    font-size: 14px;

    position: relative;
}
.footer {
    margin-top: -25rem;
    color: white;
}
.footer h4 {
    font-size: 18px;

    font-weight: 500;
}

.ps {
    margin-top: 2rem;
}
.po {
    margin-top: 1.5rem;
}
.ing {
    width: 100%;
}
.pin {
    margin-top: 8rem;
    background-color: #f7f7f7;
    height: 50rem;
    width: 100%;
    margin-top: 0rem;
}
.ess {
    margin-top: -40rem;
}
.carosuol {
    margin-top: 9rem;
}
.call {
    width: 100%;
}

.carousel {
    color: black;
    margin-top: -20rem;
    height: 5rem;
    width: 100%;
}
.carousel-inner {
    height: 110px;
}
.carousel-caption {
    top: 50%;
}
.count {
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
}
#count3 {
    padding: 3rem;
}
#count1 {
    padding: 2rem;
}
#count2 {
    padding: 2rem;
}
#count4 {
    padding: 2rem;
}
.count5 {
    margin-top: 8rem;
}
.ai {
    color: black;
}
.pick {
    color: black;
}
.pe1 {
    width: 100%;
}
.ping p {
    color: white;
    margin-top: 3rem;
}
.each {
    width: 100%;
}

@media (max-width: 600px) {
    .view {
        background-repeat: no-repeat;
        background-size: cover;

        width: 100%;
        background: url(https://image.freepik.com/free-photo/young-bussiness-man-working-office_272645-112.jpg) 0 0 no-repeat fixed;
    }
    .btn-change8 {
        height: 27px;
        width: 6rem;
        font-size: 12px;
    }
    .btn-change7 {
        height: 27px;
        width: 8rem;
        font-size: 12px;
    }
    .peace {
        width: 100%;
    }
    .header1 {
        font-size: 10px;
    }
    .header {
        height: 4rem;
    }

    .header-social {
        font-size: 10px;
        padding-left: 8rem;
        margin-top: -1.8rem;
    }
    .view {
        height: 18rem;
    }
    .he h1 {
        font-size: 23px;
        font-weight: bold;
        padding-top: 4rem;
    }
    .he p {
        font-size: 15px;
        font-weight: bold;
        color: black;
        margin-top: -1rem;
    }
    .buttom {
        padding-top: 0rem;
    }
    .elina {
        padding-top: 0.5rem;
        color: white;
    }
    .serv1 {
        margin-top: -35rem;
    }
    .kd1 {
        width: 100%;
        height: 33rem;
    }
    .count5 {
        margin-top: 2rem;
    }
    .serv1 span {
        color: white;
        margin-top: 4rem;
    }
    .serv5 span {
        font-size: 14px;
    }
    .serv5 p {
        font-size: 12px;
    }
    .serv4 span {
        font-size: 14px;
    }
    .serv4 p {
        font-size: 12px;
    }
    .serv1 h2 {
        color: white;
        font-size: 26px;
    }
    .elina h5 {
        color: white;
    }
    .team span {
        margin-top: 2rem;
    }
    .ping p {
        color: white;
        margin-top: 1rem;
    }
    .seven {
        margin-top: 5rem;
    }
    .two {
        margin-top: 5rem;
    }
    .each1 {
        margin-top: -4rem;
    }

    .each3 {
        background-color: #f7f7f7;
        height: 104rem;
    }
    .nine h2 {
        font-size: 19px;
        margin-top: -4rem;
    }
    .tea span {
        margin-top: 3rem;
    }
    .btn-change2 {
        height: 25px;
        width: 6rem;
        margin-top: -3rem;
        margin-left: 16rem;
        font-size: 10px;
    }
    .ing {
        height: 20rem;
        width: 100%;
    }
    .service {
        background-color: #f7f7f7;
        height: 68rem;
    }
    .pe1 {
        display: none;
    }
    .footer {
        margin-top: -18rem;
    }
    .put {
        height: 122rem;
        margin-top: -1rem;
    }
    .lap {
        width: 100%;
    }

    .second {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .header-social {
        margin-top: -2rem;
        margin-left: 35rem;
        font-size: 12px;
    }
    .view {
        background-repeat: no-repeat;
        background-size: cover;
        height: 37rem;
        width: 100%;
        background-image: url(https://image.freepik.com/free-photo/young-bussiness-man-working-office_272645-112.jpg);
    }
    .btn-change8 {
        height: 100%;
    }
    .service {
        background-color: #f7f7f7;
        height: 67rem;
    }
    .kd {
        margin-top: 0rem;
    }
    .pe {
        margin-top: -46rem;
    }

    .pin {
        height: 65rem;
    }
    .one {
        margin-top: -19rem;
    }
    .serv1 {
        margin-top: -37rem;
    }
    .kd1 {
        height: 32rem;
    }
    .pe1 {
        display: none;
    }
    .seven {
        margin-top: 6rem;
    }
    .two {
        margin-top: 6rem;
    }
    .ping {
        height: 70rem;
    }
    .carousel-inner {
        margin-top: 4rem;
    }
    .btn-change7 {
        margin-top: -64rem;
        background: #a24755;
    }
    .peace {
        background-color: #f7f7f7;
        margin-top: -59rem;
    }
    .feature1 {
        margin-top: -6rem;
    }
    .count5 {
        margin-top: 5rem;
    }
    .put {
        background-color: #f7f7f7;
        width: 100%;
        height: 120rem;
        margin-top: -18rem;
    }
    .team {
        margin-top: 17rem;
    }
    .team span {
        margin-top: 2rem;
    }
    .card {
        margin-top: 2rem;
    }
    .nine h2 {
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.5;
        margin-top: -8rem;
    }
    .btn-change2 {
        margin-left: 9rem;
        margin-top: -6rem;
        width: 9rem;
    }
    .tea span {
        margin-top: 3rem;
    }
    .each3 {
        background-color: #f7f7f7;
        height: 60rem;
    }
    .footer {
        margin-top: -36rem;
        margin-left: 8rem;
    }
    .ing {
        height: 40rem;
        width: 100%;
    }
}
