.blog_text h2 {
    font-size: 24px;
    font-weight: 600;
}
.card {
    box-shadow: 10px 10px 10px 0 gray;
    transition: 0.3s;
    width: 40rem;

    height: 42rem;
    margin-top: 8rem;
    margin-left: 8rem;
}
.blog-info-link span::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
}
.blog_text {
    padding-left: 3rem;
}
.blog_date {
    margin-left: 2rem;
    align-items: center;
    border: 1px solid white;
    height: 5rem;
    width: 5rem;
    margin-top: -3rem;
    background-color: #14435c;
}
.input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid #ffca28;
}

.blog-form {
    width: 20rem;
    margin-top: 8rem;
    margin-left: 7rem;
}
.blog-form1 {
    width: 20rem;
    margin-top: 8rem;
    margin-left: 7rem;
}
.input-group-text {
    background-color: blue;
}
.btn-change1 {
    height: 55px;
    width: 320px;
    margin-top: 1rem;
    background: #14435c !important;

    float: left;
    border: 0px;
    color: #fff;
    box-shadow: 0 0 1px #ccc;
    animation-duration: 3s;
    box-shadow: 0px 0px 0 0 #31708f inset, 0px 0px 0 0 #31708f inset;
}
.btn-change1:hover {
    box-shadow: 50px 0px 0 0 #31708f inset, -50px 0px 0 0 #31708f inset;
}
.plan-features {
    margin-top: 8rem;
}

.en1 {
    padding: 7rem;
    margin-top: 1rem;
}
.blog_img1 {
    margin-right: 1rem;
}
.post h4 {
    border-bottom: 2px solid black;
    width: 23rem;
}
.post {
    margin-top: 6.8rem;
    margin-left: 5rem;
}
.if {
    margin-top: 2rem;
}
.two {
    margin-top: 2rem;
}
.plan-feature1 h4 {
    border-bottom: 2px solid black;
    width: 23rem;
}
.plan-features5 h2 {
    margin-top: 8rem;
    border-bottom: 2px solid black;
}
.plan-feature1 {
    margin-top: 6.5rem;
    margin-left: 5rem;
}
.tag_cloud {
    margin-left: 5rem;
    padding-top: 2rem;
    padding-right: 1rem;
}
.tag_cloud1 {
    margin-left: 5rem;
    padding-top: 1rem;
}
.bts {
    margin-right: 0.5rem;
}
.tag_cloud2 {
    margin-left: 5rem;
    padding-top: 1rem;
}
.plan-feature2 {
    margin-top: 3rem;
    margin-left: 5rem;
}
.plan-feature2 h4 {
    border-bottom: 2px solid black;
    width: 23rem;
}
.blog-form6 {
    width: 20rem;
    margin-top: 11rem;
    margin-left: 7rem;
}
.blog-form6 h2 {
    border-bottom: 2px solid black;
    width: 26rem;
}
.one1 {
    margin-top: 4rem;
}
.foot9 {
    margin-top: 5rem;
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .card {
        box-shadow: 10px 10px 10px 0 grey;
        transition: 0.3s;
        width: 47rem;
        margin-top: 3rem;
        margin-left: 0rem;
    }
    .one {
        margin-top: -3rem;
    }
    .footer {
        margin-top: -39rem;
    }
}

@media (max-width: 600px) {
    .centered {
        position: absolute;
        top: 92%;
        left: 50%;
        margin-top: -3rem;
        font-size: 42px;
    }
    .card {
        margin-left: -1rem;
        margin-top: 2.5rem;
        width: 100%;
    }
    .blog-form {
        margin-left: 2rem;
        margin-top: 3rem;
    }
    .post {
        margin-left: 2rem;
        margin-top: 3rem;
    }
    .plan-feature1 {
        margin-left: 2rem;
        margin-top: 3rem;
    }
    .plan-feature1 h4 {
        border-bottom: 2px solid black;
        width: 18rem;
    }
    .plan-feature2 h4 {
        border-bottom: 2px solid black;
        width: 18rem;
    }
    .blog-form6 h2 {
        border-bottom: 2px solid black;
        width: 18rem;
    }
    .post h4 {
        border-bottom: 2px solid black;
        width: 18rem;
    }
    .plan-feature2 {
        margin-left: 2rem;
        margin-top: 3rem;
    }
    .blog-form1 {
        margin-left: 2rem;
        margin-top: 3rem;
    }
    .tag_cloud {
        margin-left: 2rem;
    }
    .tag_cloud1 {
        margin-left: 2rem;
    }
    .tag_cloud2 {
        margin-left: 2rem;
    }
    .blog-form6 {
        margin-left: 2rem;
        margin-top: 3rem;
    }
}
